<%= form_for(recarga) do |f| %>

  <% if recarga.errors.any? %>
    <%= render 'parciales/error_message', error_message: recarga.errors.full_messages.first %>
  <% end %>

  <% recarga.user_id = 999999 %>
  <% if @usuario %>
    <strong>Nombre:</strong>
    <%= @usuario.name %>
    <br>
    <strong>Usuario:</strong>
    <%= @usuario.username %>
    <br>
    <strong>Correo:</strong>
    <%= @usuario.email %>
    <br>
    <strong>Saldo:</strong>
    <%= number_to_currency(@usuario.saldo, {:precision => 0, :unit => "Bs ", :delimiter => "."}) %>
    <% recarga.user_id = @usuario.id %>
  <% end %>
  <br>

  <% recarga.referencia = "PRC#{Time.now.strftime("%j%H%M%S%L")}" if recarga.referencia == nil %>

  <strong>Referencia:</strong>
  <%= recarga.referencia %>
  <br>
  <%= f.hidden_field :referencia %>
  <%= f.hidden_field :user_id  %>
  <br>

  <div class="field">
    <%= f.label :monto_bs %>
    <%= f.number_field :monto_bs %>
  </div>

  <div class="field">
    <%= f.label :comentarios %>
    <%= f.text_area :comentarios %>
  </div>
  <button class="btn btn-primary">Recargar</button>

<% end %>
