<%= form_for(recarga) do |f| %>

  <% if recarga.errors.any? %>
    <%= render 'parciales/error_message', error_message: recarga.errors.full_messages.first %>
  <% end %>

  <strong>Nombre:</strong>
  <%= @usuario.name %>
  <br>
  <strong>Usuario:</strong>
  <%= @usuario.username %>
  <br>
  <strong>Correo:</strong>
  <%= @usuario.email %>
  <br>
  <strong>Saldo:</strong>
  <%= number_to_currency(@usuario.saldo, {:precision => 0, :unit => "Bs ", :delimiter => "."}) %>
  <br>
  <br>

  <% recarga.user_id = @usuario.id %>
  <%= f.hidden_field :user_id  %>

  <div class="field">
    <%= f.label :monto_bs %>
    <%= f.number_field :monto_bs %>
  </div>

  <button class="btn btn-primary">Recargar</button>

<% end %>
