<div class="col-lg-3"></div>
<div class="col-lg-6 well">

<p id="notice"><%= notice %></p>

<p>
  <strong>Monto divisa:</strong>
  <%= @recarga.monto_divisa %>
</p>

<p>
  <strong>Tipo divisa:</strong>
  <%= @recarga.tipo_divisa %>
</p>

<p>
  <strong>Cambio bs:</strong>
  <%= @recarga.cambio_bs %>
</p>

<p>
  <strong>Monto bs:</strong>
  <%= @recarga.monto_bs %>
</p>

<p>
  <strong>Banco origen:</strong>
  <%= @recarga.banco_origen %>
</p>

<p>
  <strong>Referencia origen:</strong>
  <%= @recarga.referencia_origen %>
</p>

<p>
  <strong>Transaccion origen:</strong>
  <%= @recarga.transaccion_origen %>
</p>

<p>
  <strong>Banco destino:</strong>
  <%= @recarga.banco_destino %>
</p>

<p>
  <strong>Referencia destino:</strong>
  <%= @recarga.referencia_destino %>
</p>

<p>
  <strong>Transaccion destino:</strong>
  <%= @recarga.transaccion_destino %>
</p>

<p>
  <strong>Aplicado:</strong>
  <%= @recarga.aplicado %>
</p>

<p>
  <strong>User:</strong>
  <%= @recarga.user %>
</p>

<%= link_to 'Edit', edit_recarga_path(@recarga) %> |
<%= link_to 'Back', recargas_path %>

</div>