<div class="col-lg-3"></div>
<div class="col-lg-6 well">


  <center><h2><%= "Detalle de usuario"  %></h2></center>

  <strong>Nombre:</strong>
  <%= @usuario.name %>
  <br>
  <strong>Usuario:</strong>
  <%= @usuario.username %>
  <br>
  <strong>Correo:</strong>
  <%= @usuario.email %>
  <br>
  <strong>Saldo:</strong>
  <%= number_to_currency(@usuario.saldo, {:precision => 0, :unit => "Bs ", :delimiter => "."}) %>
  <br>

  <strong>"Veces que se ha logeado:"</strong>
  <%= @usuario.sign_in_count %>
  <br>
  <strong>"Ultima vez que entró:"</strong>
  <%= @usuario.last_sign_in_at.try(:strftime, "%m/%d/%Y %I:%M%p") %>
  <br>
  <strong>"Ultima IP con la que entró:"</strong>
  <%= @usuario.last_sign_in_ip %>
  <br><br>
  <td> <%= button_to 'Recargar saldo', recargar_path(@usuario.id), :class => "btn btn-warning", method: :get %></td>
</div>


