<div class="col-lg-6 col-lg-offset-3">
  <div class="well">
    <h4 class="title"><b>Cambia tu contraseña</b></h4>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-1">
        <label>Escriba una nueva contraseña y su confirmación</label>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <div class="form-group">
            <%= f.password_field :password, autofocus: true, class: "form-control", placeholder: "Contraseña",autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Repetir Contraseña",autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.submit "Cambiar contraseña", class: "btn btn-primary" %>
          </div>
          <%= render 'parciales/devise_form_errors' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
