<h4>Se ajustó la pre-recarga.</h4>
<h4><%= "Nombre de usuario: #{@usuario.name}" %> </h4>
<h4><%= "Su saldo actual es de : #{number_to_currency(@saldo, {:precision => 0, :unit => "Bs ", :delimiter => "."})}" %> </h4>
<h4><%= "Fecha en que se recibió la pre-recarga: #{@recarga.created_at.try(:strftime, "%m/%d/%Y %I:%M%p")}" %> </h4>
<h4><!%= "Número de referencia: PRC#{Time.now.strftime("%j%H%M%S%L")}" %> </h4>
<h4><%= "Esta pre-recarga es por: #{number_to_currency(@recarga.monto_bs, {:precision => 0, :unit => "Bs ", :delimiter => "."})}" %> </h4>
<br>
<p>
<b><%= "Recuerda visitarnos en: " %>
<%= link_to "#{root_url}", root_url %></b>
</p>
