<div class="col-lg-3"></div>
<div class="col-lg-6 well">
  <p>
    <h4><center><strong><%= "SMS Directo" %></strong></center></h4>
  </p>
  <%= form_for(@directo) do |f| %>
    <% if @directo.errors.any? %>
      <%= render 'parciales/error_message', error_message: @directo.errors.full_messages.first %>
    <% end %>
    <strong><%= "Numero" %></strong>
    <div class="input-group">
      <select name="area", "params[area]"   class="mostrar form-control"   style="width: 85px;">
        <optgroup label="Movilnet"><option value="416">0416</option><option value="426">0426</option></optgroup>
        <optgroup label="Movistar"><option value="414">0414</option><option value="424">0424</option></optgroup>
        <optgroup label="Digitel"> <option value="412">0412</option></optgroup>
      </select>
      <%= number_field_tag :numero, params[:numero], :min => 999999, :max => 9999999, :placeholder => "numero", class: "mostrar form-control", style: "width: 110px;", :required => "required" %>
    </div>
    <br>
    <div class="form-group">
      <%= f.text_area :sms, class: "mostrar form-control", size: "128x2", placeholder: "Escribe un mensaje hasta 160 caracteres" %>
    </div>
    <div class="form-group">
      <%= button_tag id: "directo", class: "btn btn-primary" do %>
         Enviar
      <% end %>
      <% largo = 0 %>
      <% largo = @directo.sms.length if @directo.sms != nil %>
      <% contador = 160 - largo %>
      <div class="pull-right">
        <span id="sms-count"><%= "#{contador}" %></span>
      </div>
    </div>
  <% end %>
</div>





