<div class="col-lg-3"></div>
<div class="col-lg-6 well">
  <p>
    <h4><center><strong><%= "SMS Directo" %></strong></center></h4>
  </p>
  <%= form_for(@directo) do |f| %>
    <% if @directo.errors.any? %>
      <%= render 'parciales/error_message', error_message: @directo.errors.full_messages.first %>
    <% end %>
    <div class="field">
      <%= f.label "Teléfono" %>
      <%= f.text_field :tlf, class: "mostrar form-control", style: "width: 120px;" %>
    </div>
    <div class="form-group">
      <%= f.text_area :sms, class: "mostrar form-control", size: "128x2", placeholder: "Escribe un mensaje hasta 160 caracteres" %>
    </div>
    <div class="form-group">
      <%= button_tag id: "directo", class: "btn btn-primary" do %>
         Enviar
      <% end %>
      <% largo = 0 %>
      <% largo = @directo.sms.length if @directo.sms != nil %>
      <% contador = 160 - largo %>
      <div class="pull-right">
        <span id="sms-count"><%= "#{contador}" %></span>
      </div>
    </div>
  <% end %>
</div>





