<div class="col-lg-3"></div>
<div class="col-lg-6 well">

  <%= form_tag({:controller => "archivos", :action => "cargar"}, :method => "post", :multipart => true) do %>

     <br />
     <button class="btn btn-lg btn-info">Cargar Archivo</button>

     <hr><br />
     
     <%= file_field_tag "archivo" %>
     <br>
  <% end %>

	<table>
	<br>
	   <% @archivos.each do |a| %>
	   <% if a == "." or a == ".." then next end; %>
	   <tr>
	      <td><a target="_blank" href="/archivos/<%= a %>"><%= a %></a></td> 
	      <td style="text-align: right" >
	      <%= button_to 'Borrar',  {:class => "btn-sm btn-danger", :controller => "archivos", :action => "borrar", :archivo_a_borrar => a}, {:class => "btn-sm btn-danger", :method => "post", data: { confirm: "Esta seguro de querer borrar el archivo #{a}???"}} %>
	      </td>
	   </tr>
	   <% end %>
	</table>
</div>
<br>